body {
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
}

body.default {
    background: #74b9ff;
}

body.sunny {
    background: #ffeaa7;
}

body.cloudy {
    background: #b2bec3;
}

body.rainy {
    background: #74b9ff;
}

body.stormy {
    background: #636e72;
}

body.snowy {
    background: #dfe6e9;
}

body.foggy {
    background: #b2bec3;
}

.extra-small {
  font-size: 0.75rem;
}